body {
	background-image: url('background.png');
	background-size: 100% 100%;
    background-repeat: no-repeat;
	background-color: #333333;
}

.center-container {
	display: -webkit-flex;
	display: flex;
	height: 480px;
}

.center-container-2 {
	display: -webkit-flex;
	display: flex;
	height: 189px;
}

.center-container-3 {
	display: -webkit-flex;
	display: flex;
	height: 480px;
	padding: 25px;
	padding-bottom: 90px;
}

.video {
	margin: auto;
	border: none;
	box-shadow: 0px 0px 50px 5px #000;
}
.video iframe{
	max-width: 100%;
	max-height: 100%;
}

.purchase{
	margin: auto;
}

.purchase img {
	margin-top: 25px;
	max-width: 100%;
	max-height: 100%;
}

/*Package*/

.package{
	border-radius: 2px;
	color: #FAFAFA;
	text-align: center;
	margin: auto;
	flex: 1;
	height: 525px;
	border: 2px solid #292929;
	background-color: #333333;
}

.package:nth-child(even){
	box-shadow: 0px 0px 10px 0px #000;
}

.package:hover{
	background-color: #292929;
}

.package h2{
	padding: 10px;
	padding-right: 40px;
	padding-left: 40px;
	border-radius: 5px;
	display: inline-block;
	background-color: #002F5A;
}

.gun{
	display: block;
	margin: auto;
	max-width: 200px;
	height: 124px;
}

.price {
	font-size: 24px;
	font-family: 'roboto';
}

.desc{
	font-family: 'roboto';
	font-size: 16px;
	text-align: left;
	margin-left: 25px;
	height: 105px;
}

.btn{
	max-height: 75%;
	max-width: 75%;
}


/*Package*/

.logo{
	margin: 0 auto;
	width: 800px;
	height: 266px;
}

.logo img{
 max-width: 100%;
 max-height: 100%;
}

.buy-bronze, .buy-gold, .buy-silver{
	text-align: center;
	display: none;
	background-color: #292929;
	width: 500px; 
	height: 300px;
	border-radius: 7px;
	color: #FAFAFA;
	box-shadow: 0 0 10px 2px #000;
}
.buy-bronze h2, .buy-gold h2, .buy-silver h2{
	margin-top: 25px;
	font-size: 32px;
}

.buy-bronze h3, .buy-gold h3, .buy-silver h3{
	text-align: left;
	margin-left: 25px;
    margin-top: 40px;
}

.buttons * {
	display: inline-block;
	width: 100px; 
	height: 100px;
	padding: 15px;
	margin: 0 auto;
}

.buttons {
	padding-right: 20px;
}







